# Copy this file to .env and fill in your values
REDIS_URL=redis://redis:6379

JWT_SECRET_KEY=change-this-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=1
JWT_ISSUER=devintel-api
JWT_AUDIENCE=devintel-client

# LLM configuration
LLM_API_KEY=your_LLM_API_KEY_here
LLM_MODEL=deepseek-coder
LLM_BASE_URL=https://api.deepseek.com

DEVINTEL_ENGINE_IMAGE=snits/devintel-engine:latest
MAX_AUDIT_WORKERS=5

# sql admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-in-production
ADMIN_SECRET_KEY=change-this-in-production

TRUSTED_PROXIES="127.0.0.1" # Comma-separated list of trusted hosts for ProxyHeadersMiddleware, e.g. "127.0.0.1,192.168.0.1"
ALLOWED_HOSTS="*" # Comma-separated list of allowed hosts for TrustedHostMiddleware, e.g. "example.com,*.example.com"
ALLOWED_ORIGINS="*" # Comma-separated list of allowed origins for CORS, e.g. "https://app.example.com,http://localhost:3000"

DEBUG=False

# test values for development
REPO_URL=https://github.com/jhetjhet/fooflix.git